<a href="https://colab.research.google.com/github/jayarnim/study-RBasicSyntax/blob/main/2_Data_Structure_2_Multi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 다중집합자료형(Multi Data Sturcture)

- 정의 : 원소의 자료형이 다양한 집합자료형

- 종류
    - 리스트(list) : 1차원 다중집합자료형
    - 데이터프레임(data.frame) : 2차원 다중집합자료형

# 1. List

## 리스트 생성하기

In [1]:
list1 <- list(c(1, 2, 3), 10, TRUE, "hello")
list1

[[1]]
[1] 1 2 3

[[2]]
[1] 10

[[3]]
[1] TRUE

[[4]]
[1] "hello"

## Keyword Mapping

- names 함수를 통한 keyword mapping

In [2]:
names(list1) <- c("vec_value", "int_value", "bool_value", "char_value")
list1

$vec_value
[1] 1 2 3

$int_value
[1] 10

$bool_value
[1] TRUE

$char_value
[1] "hello"

- list 생성자를 통해 객체 생성 시 keyword mapping

In [3]:
list2 <- list(
    vec_value = c(1, 2, 3),
    int_value = 10,
    bool_value = TRUE,
    char_value = "hello"
    )

list2

$vec_value
[1] 1 2 3

$int_value
[1] 10

$bool_value
[1] TRUE

$char_value
[1] "hello"

## 리스트 탐색하기

In [4]:
str(list2)

List of 4
 $ vec_value : num [1:3] 1 2 3
 $ int_value : num 10
 $ bool_value: logi TRUE
 $ char_value: chr "hello"

### 자료형

In [5]:
class(list2)

[1] "list"

In [6]:
mode(list2)

[1] "list"

In [7]:
typeof(list2)

[1] "list"

### 원소 갯수

In [8]:
length(list2)

[1] 4

### Unique Value

In [9]:
unique(list2)

[[1]]
[1] 1 2 3

[[2]]
[1] 10

[[3]]
[1] TRUE

[[4]]
[1] "hello"

## Indexing

### with Index

In [10]:
# return key & value
list2[1]

$vec_value
[1] 1 2 3

In [11]:
# return value
list2[[1]]

[1] 1 2 3

### with Keyword

In [12]:
list2$vec_value

[1] 1 2 3

# 2. Data Frame

## 데이터프레임 생성하기

In [13]:
vt1 <- c(1:10)
vt2 <- c("F", "M", "F", "M", "M", "F", "F", "F", "M", "F")
vt3 <- c(50, 40, 28, 50, 27, 23, 56, 47, 20, 38)
vt4 <- c("서울", "경기", "제주", "서울", "서울", "서울", "경기", "서울", "인천", "경기")

df <- data.frame(vt1, vt2, vt3, vt4)
View(df)

   vt1 vt2 vt3 vt4
1   1  F   50  서울
2   2  M   40  경기
3   3  F   28  제주
4   4  M   50  서울
5   5  M   27  서울
6   6  F   23  서울
7   7  F   56  경기
8   8  F   47  서울
9   9  M   20  인천
10 10  F   38  경기

## 데이터프레임 탐색하기

### 행, 열 이름

In [14]:
colnames(df)

[1] "vt1" "vt2" "vt3" "vt4"

In [15]:
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

### 크기

In [16]:
dim(df)

[1] 10  4

In [17]:
nrow(df)

[1] 10

In [18]:
ncol(df)

[1] 4

### 자료 형상

In [19]:
str(df)

'data.frame':	10 obs. of  4 variables:
 $ vt1: int  1 2 3 4 5 6 7 8 9 10
 $ vt2: chr  "F" "M" "F" "M" ...
 $ vt3: num  50 40 28 50 27 23 56 47 20 38
 $ vt4: chr  "서울" "경기" "제주" "서울" ...

In [20]:
summary(df)

      vt1            vt2                 vt3            vt4
 Min.   : 1.00   Length:10          Min.   :20.00   Length:10
 1st Qu.: 3.25   Class :character   1st Qu.:27.25   Class :character
 Median : 5.50   Mode  :character   Median :39.00   Mode  :character
 Mean   : 5.50                      Mean   :37.90
 3rd Qu.: 7.75                      3rd Qu.:49.25
 Max.   :10.00                      Max.   :56.00

### 데이터프레임 일부만 조회

In [21]:
head(df, 3)

  vt1 vt2 vt3 vt4
1 1   F   50  서울
2 2   M   40  경기
3 3   F   28  제주

In [22]:
tail(df, 3)

   vt1 vt2 vt3 vt4
8   8  F   47  서울
9   9  M   20  인천
10 10  F   38  경기

## Indexing

In [23]:
df[1:3, c(2, 4)]

  vt2 vt4
1 F   서울
2 M   경기
3 F   제주

In [24]:
df[1:3, c("vt1", "vt3")]

  vt1 vt3
1 1   50
2 2   40
3 3   28