<a href="https://colab.research.google.com/github/jayarnim/study-RBasicSyntax/blob/main/3_Functional_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 연산자(Operator)

## 산술연산자(Arithmetric Operator)

In [1]:
# 덧셈
1 + 1

[1] 2

In [2]:
# 뺄셈
2 - 1

[1] 1

In [3]:
# 곱셈
2 * 2

[1] 4

In [4]:
# 나눗셈
3 / 2

[1] 1.5

In [5]:
# 몫
7 %/% 5

[1] 1

In [6]:
# 나머지
7 %% 5

[1] 2

In [7]:
# 제곱
10 ^ 2
10 ** 2

[1] 100

[1] 100

## 비교연산자(Comparison Operator)

In [8]:
# 초과
10 > 7

[1] TRUE

In [9]:
# 이상
10 >= 7

[1] TRUE

In [10]:
# 미만
10 < 7

[1] FALSE

In [11]:
# 이하
10 <= 7

[1] FALSE

In [12]:
# 같음
10 == 7

[1] FALSE

In [13]:
# 같지 않음
10 != 7

[1] TRUE

## 논리연산자(Logical or Boolen Operator)

In [42]:
# AND(논리곱) : 전항 * 후항 = 1
(10 > 7) & (7 > 10)

[1] FALSE

In [43]:
# OR(논리합) : 전항 + 후항 = 1
(10 > 7) | (7 > 10)

[1] TRUE

In [15]:
# XOR(배타적 논리합; 참이고 거짓이거나, 거짓이고 참) : 전항 != 후항
xor(10 > 7, 7 > 10)

[1] TRUE

In [16]:
xor(10 > 7, 7 < 10)

[1] FALSE

In [17]:
xor(10 < 7, 7 > 10)

[1] FALSE

# 2. 제어문(Control Statement)

## 조건문 if

```
if(conditional statement){
    executable statement if TRUE
    }
```

In [18]:
x <- 10.0

if(typeof(x) == 'double'){
    print("type of x is double.")
    }

[1] "type of x is double."

### else

```
if(conditional statement){
    executable statement if TRUE
    }else{
        excutable statement if FALSE
        }
```

In [19]:
x <- "hello"

if(mode(x) == 'numeric'){
    print("type of x is numeric.")
    }else{
        print("type of x is not numeric.")
        }

[1] "type of x is not numeric."

### else if

```
if(conditional statement){
    executable statement if TRUE
    }else if(conditional statement if first conditional statement is FALSE){
        excutable statement if second conditional statement is TRUE
    }else{
        excutable statement if all conditional statement is FALSE
        }
```

In [20]:
x <- TRUE

if(mode(x) == "numeric"){
    print("type of x is numeric.")
    }else if(mode(x) == "character"){
        print("type of x is character.")
        }else{
            print("type of x is not numeric or character.")
            }

[1] "type of x is not numeric or character."

### ifelse

```
ifelse(
    condtional statement,
    executable statement if TRUE,
    executable statement if FALSE
    )
```

In [21]:
major <- "political science"
majorCondition <- c("economics", "commerce", "business management")

ifelse(
    major %in% majorCondition,
    print("welcome to finance"),
    print("sorry, bye")
    )

[1] "sorry, bye"

[1] "sorry, bye"

## 반복문 for

```
for(x in xs){
    executable statements
    }
```

In [22]:
# 모임 xs 의 원소 x 에 대하여 순차로 수행문을 반복 실행함
# 특정 조건에 한하여 수행문을 실행하고 싶지 않을 경우 조건을 걸어 다음 회차로 넘길 수 있음

xs <- c("I", "Why", "Something_New", "This_Christmas", "What_Do_I_Call_You")
i <- 0

for(x in xs){
    i <- i + 1

    print(paste("태연의 미니", i, "집 앨범명 :", x))
    }

[1] "태연의 미니 1 집 앨범명 : I"
[1] "태연의 미니 2 집 앨범명 : Why"
[1] "태연의 미니 3 집 앨범명 : Something_New"
[1] "태연의 미니 4 집 앨범명 : This_Christmas"
[1] "태연의 미니 5 집 앨범명 : What_Do_I_Call_You"

### next

In [23]:
# 특정 조건에 한하여 수행문을 실행하고 싶지 않을 경우 조건을 걸어 다음 회차로 넘길 수 있음

xs <- c("I", "Why", "Something_New", "This_Christmas", "What_Do_I_Call_You")
i <- 0

for(x in xs){
    if(x == "This_Christmas"){
        next
        }

    i <- i + 1

    print(paste("태연의 미니", i, "집 앨범명 :", x))
    }

[1] "태연의 미니 1 집 앨범명 : I"
[1] "태연의 미니 2 집 앨범명 : Why"
[1] "태연의 미니 3 집 앨범명 : Something_New"
[1] "태연의 미니 4 집 앨범명 : What_Do_I_Call_You"

## 조건 반복문 while

```
while(conditional statement){
    executable statements
    }
```

In [24]:
# 조건문이 참일 경우 수행문을 반복 실행함

i <- 1

while(i < 10){
    print(i)

    i <- i + 1
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

### break

In [25]:
# 조건이 참일 경우 무한반복됨
# 무한 반복을 원하지 않을 경우 수행문에 조건을 걸어 반복을 중단할 수 있음

i <- 1

while(TRUE){
    print(i)

    i <- i + 1

    if(i >= 10){
        break
        }
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

# 3. 사용자 정의 함수(User-Defined Function; UDF)

```
FuncName <- function(input){
    executable statements
    return(output)
    }
```

## 입력값과 반환값

- 입력값과 반환값이 모두 존재하지 않는 경우

In [26]:
myFunc <- function(){
    print("함수 myFunc이 실행되었음")
    }

In [27]:
myFunc()

[1] "함수 myFunc이 실행되었음"

- 입력값은 존재하나 반환값은 존재하지 않는 경우

In [28]:
myFunc <- function(a){
    print("파라미터 a의 아규먼트 : ", a)
    }

In [29]:
myFunc(18)

[1] "파라미터 a의 아규먼트 : "

- 입력값은 존재하지 않고 반환값만 존재하는 경우

In [30]:
myLikeNumber <- function(){
    return(18)
    }

In [31]:
myLikeNumber()

[1] 18

- 입력값과 반환값이 모두 존재하는 경우

In [32]:
myFunc <- function(a){
    b <- a * 10
    return(b)
    }

In [33]:
myFunc(18)

[1] 180

## 파라미터

- 일반 파라미터 : 기본값이 설정되어 있지 않고, 파라미터명과 그 갯수가 명시되어 있는 파라미터

In [34]:
myFunc <- function(a, b){
    c <- a - b
    return(c)
    }

In [35]:
myFunc(a = 20, b = 15)

[1] 5

In [36]:
# 두 개의 일반 파라미터에 대한 아규먼트를 요구하고 있으므로 이를 충족하지 않으면 오류 발생
# myFunc(a = 20)

- 기본 파라미터 : 기본값이 설정되어 있는 파라미터

In [37]:
myFunc <- function(a, b = 10){
    c <- a - b
    return(c)
    }

In [38]:
# 파라미터 b 의 아규먼트를 설정하지 않는 경우 기본값 10 으로 자동 설정됨
myFunc(a = 40)

[1] 30

In [39]:
# 파라미터 b 의 아규먼트를 설정하는 경우 기본값이 아니라 새로 부여한 값으로 설정됨
myFunc(a = 40, b = 20)

[1] 20

- 가변 파라미터 : 파라미터명 및 갯수가 특정되지 않는 경우로서 예약어로 `...` 을 사용함

In [40]:
myFunc <- function(...){
    args <- list(...)
    for(i in args){
        print(i)
        }
    }

In [41]:
myFunc(c(1:10))

 [1]  1  2  3  4  5  6  7  8  9 10