<a href="https://colab.research.google.com/github/jayarnim/study-RBasicSyntax/blob/main/4_Loading_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Working Directory

- 구글은 R 에 대해서는 Drive Mount 를 지원하지 않음
- 때문에 매 런타임마다 세션에 자료를 불러와서 작업해야 함

In [1]:
# working directory 조회
getwd()

[1] "/content"

In [2]:
# working directory 설정
# setwd("path")

In [3]:
# working directory 하위 파일 조회
list.files()

[1] "data"        "sample_data"

# 1. 원시적인 방법으로 자료 입력하기

In [4]:
# 데이터 1, 2, 3, 4, 5를 변수 ID에 할당
ID <- c(1, 2, 3, 4, 5)

# 데이터 F, M, F, M, F를 변수 SEX에 할당
SEX <- c("F", "M", "F", "M", "F")

# ID와 SEX로 데이터 프레임 생성
DATA <- data.frame(ID = ID, SEX = SEX)

# DATA 조회
View(DATA)

  ID SEX
1 1  F
2 2  M
3 3  F
4 4  M
5 5  F

# 2. Working Directory 에서 불러오기

## TXT

```
read.table(
    file,   # 불러올 파일 경로
    header = FALSE, # 1행을 컬럼명으로 설정할 것인지 여부
    col.names,  # 컬럼명으로 설정할 벡터
    skip,   # 몇 행까지 불러오기를 skip 할 것인가
    nrows,  # 몇 행까지만 불러올 것인가
    stringsAsFactor,    # 범주형 변수 벡터에 대하여 그 unique value 만을 원소로 하는 factor 로 변환할 것인가
    sep,    # 구분자
    fileEncoding,   # 파일 인코딩 방식
    encoding    # R 인코딩 방식
    )
```

In [6]:
ex <- read.table(file = "data/data_ex.txt")
ex

   V1 V2  V3  V4
1  ID SEX AGE AREA
2  1  F   50  서울
3  2  M   40  경기
4  3  F   28  제주
5  4  M   50  서울
6  5  M   27  서울
7  6  F   23  서울
8  7  F   56  경기
9  8  F   47  서울
10 9  M   20  인천
11 10 F   38  경기

- `header` : 1행을 칼럼명으로 지정할 것인지 여부

In [7]:
ex <- read.table(
    file = "data/data_ex.txt",
    header = TRUE
    )

# 1행 [ID, SEX, AGE, AREA] 을 칼럼명으로 설정함
ex

   ID SEX AGE AREA
1   1 F   50  서울
2   2 M   40  경기
3   3 F   28  제주
4   4 M   50  서울
5   5 M   27  서울
6   6 F   23  서울
7   7 F   56  경기
8   8 F   47  서울
9   9 M   20  인천
10 10 F   38  경기

- `col.names` : 컬럼명으로 설정할 새로운 행 벡터

In [8]:
col_names <- c("아이디", "성별", "나이", "지역")

ex <- read.table(
    file = "data/data_ex.txt",
    header = TRUE,
    col.names = col_names
    )

# 새로운 행 벡터 ["아이디", "성별", "나이", "지역"] 을 컬럼명으로 설정함
ex

   아이디 성별 나이 지역
1   1     F    50   서울
2   2     M    40   경기
3   3     F    28   제주
4   4     M    50   서울
5   5     M    27   서울
6   6     F    23   서울
7   7     F    56   경기
8   8     F    47   서울
9   9     M    20   인천
10 10     F    38   경기

- `skip` : 몇 행까지 불러오지 않을 것인가

In [9]:
ex <- read.table(
    file = "data/data_ex.txt",
    skip = 3
    )

# 1행(칼럼명), 2행(ID == 1), 3행(ID == 2)까지 skip
ex

  V1 V2 V3 V4
1  3 F  28 제주
2  4 M  50 서울
3  5 M  27 서울
4  6 F  23 서울
5  7 F  56 경기
6  8 F  47 서울
7  9 M  20 인천
8 10 F  38 경기

- `nrows` : 몇 행까지만 불러올 것인가

In [10]:
ex <- read.table(
    file = "data/data_ex.txt",
    nrows = 3
    )

# 1행(칼럼명), 2행(ID == 1), 3행(ID == 2)까지만 불러옴
ex

  V1 V2  V3  V4
1 ID SEX AGE AREA
2 1  F   50  서울
3 2  M   40  경기

- `stringAsFactor` : 자료형이 `character` 인 변수 `vector` 에 대하여 그 `unique` 값들을 범주로 가지는 `factor` 로 변환할 것인가

In [11]:
ex <- read.table(
    file = "data/data_ex.txt",
    header = TRUE,
    stringsAsFactor = TRUE
    )

# 범주형 변수 벡터 SEX, AREA 의 경우
# SEX : M, F
# AREA : 서울, 경기, 제주, 인천
# 이상의 unique value 만을 할당할 수 있는 factor type 임
# SEX 에 UNKNOWN 을, AREA 에 세종 을 할당하면 결측치로 판단함
ex[11,] <- c(11, "UNKNOWN", 20, "세종")

ex

Warning message in `[<-.factor`(`*tmp*`, iseq, value = "UNKNOWN"):
“invalid factor level, NA generated”
Warning message in `[<-.factor`(`*tmp*`, iseq, value = "세종"):
“invalid factor level, NA generated”

   ID SEX AGE AREA
1  1  F   50  서울
2  2  M   40  경기
3  3  F   28  제주
4  4  M   50  서울
5  5  M   27  서울
6  6  F   23  서울
7  7  F   56  경기
8  8  F   47  서울
9  9  M   20  인천
10 10 F   38  경기
11 11 NA  20  NA

- `sep` : 구분자

In [12]:
ex_tab <- read.table(
    file = "data/data_ex.txt",
    sep = "\t"
    )

ex_tab

   V1 V2  V3  V4
1  ID SEX AGE AREA
2  1  F   50  서울
3  2  M   40  경기
4  3  F   28  제주
5  4  M   50  서울
6  5  M   27  서울
7  6  F   23  서울
8  7  F   56  경기
9  8  F   47  서울
10 9  M   20  인천
11 10 F   38  경기

In [13]:
ex_comma <- read.table(
    file = "data/data_ex.txt",
    sep = ","
    )

# tab으로 구분되어 작성된 문서이므로 comma를 구분자로 설정하면 컬럼들이 제대로 구분되어 출력되지 않음
ex_comma

   V1
1  ID\tSEX\tAGE\tAREA
2  1\tF\t50\t서울
3  2\tM\t40\t경기
4  3\tF\t28\t제주
5  4\tM\t50\t서울
6  5\tM\t27\t서울
7  6\tF\t23\t서울
8  7\tF\t56\t경기
9  8\tF\t47\t서울
10 9\tM\t20\t인천
11 10\tF\t38\t경기

## CSV

```
read.csv(
    file,   # 불러올 파일 경로
    header = TRUE,  # 1행을 컬럼명으로 설정할지 여부
    sep = ","   # 구분자
    )
```

In [14]:
ex <- read.csv(file = "data/data_ex.csv")

# read.csv 는 read.table 의 일부 파라미터에 대하여 csv 파일을 읽기에 적절한 아규먼트로 설정한 함수임
ex

  X ID SEX
1 1 1  F
2 2 2  M
3 3 3  F
4 4 4  M
5 5 5  F

## EXCEL

```
readxl::read_excel(
    path,   # 불러올 파일 경로
    sheet = 1,  # 불러올 시트 번호 혹은 이름
    col_names,  # 컬럼명으로 설정할 벡터
    range   # 불러올 행 범위
    )
```

In [15]:
# 엑셀 파일을 읽어들이는 패키지 설치 및 불러오기
install.packages("data/readxl")
library(readxl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“package ‘data/readxl’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

In [16]:
ex <- read_excel(path = "data/data_ex.xlsx")
ex

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

- `sheet` : 문서에 시트가 여러 장일 경우 불러오고 싶은 시트 번호 혹은 이름

In [17]:
ex_sheet1 <- read_excel(
    path = "data/data_ex.xlsx",
    sheet = 1
    )

ex_sheet1

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [18]:
ex_sheet2 <- read_excel(
    path = "data/data_ex.xlsx",
    sheet = 2
    )

ex_sheet2

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [19]:
# 참고 : 시트명을 반환하는 함수 readxl::excel_sheets(path)
excel_sheets(path = "data/data_ex.xlsx")

[1] "iris"   "mtcars"

- `col_names` : 컬럼명 설정

In [20]:
col_names <- c("꽃밭침:길이", "꽃받침:너비", "꽃잎:길이", "꽃잎:너비", "품종")

ex <- read_excel(
    path = "data/data_ex.xlsx",
    sheet = 1,
    col_names = col_names
    )

ex

    꽃밭침:길이        꽃받침:너비        꽃잎:길이          꽃잎:너비
1   Sepal.Length       Sepal.Width        Petal.Length       Petal.Width
2   5.0999999999999996 3.5                1.4                0.2
3   4.9000000000000004 3                  1.4                0.2
4   4.7                3.2                1.3                0.2
5   4.5999999999999996 3.1                1.5                0.2
6   5                  3.6                1.4                0.2
7   5.4                3.9                1.7                0.4
8   4.5999999999999996 3.4                1.4                0.3
9   5                  3.4                1.5                0.2
10  4.4000000000000004 2.9                1.4                0.2
11  4.9000000000000004 3.1                1.5                0.1
12  5.4                3.7                1.5                0.2
13  4.8                3.4                1.6                0.2
14  4.8                3                  1.4                0.1
15  4.3                3                  1.1000000000000001 0.1
16  5.8                4                  1.2                0.2
17  5.7                4.4000000000000004 1.5                0.4
18  5.4                3.9                1.3                0.4
19  5.0999999999999996 3.5                1.4                0.3
20  5.7                3.8                1.7                0.3
21  5.0999999999999996 3.8                1.5                0.3
22  5.4                3.4                1.7                0.2
23  5.0999999999999996 3.7                1.5                0.4
24  4.5999999999999996 3.6                1                  0.2
25  5.0999999999999996 3.3                1.7                0.5
26  4.8                3.4                1.9                0.2
27  5                  3                  1.6                0.2
28  5                  3.4                1.6                0.4
29  5.2                3.5                1.5                0.2
30  5.2                3.4                1.4                0.2
⋮   ⋮                  ⋮                  ⋮                  ⋮
122 6.9                3.2                5.7                2.2999999999999998
123 5.6                2.8                4.9000000000000004 2
124 7.7                2.8                6.7                2
125 6.3                2.7                4.9000000000000004 1.8
126 6.7                3.3                5.7                2.1
127 7.2                3.2                6                  1.8
128 6.2                2.8                4.8                1.8
129 6.1                3                  4.9000000000000004 1.8
130 6.4                2.8                5.6                2.1
131 7.2                3                  5.8                1.6
132 7.4                2.8                6.1                1.9
133 7.9                3.8                6.4                2
134 6.4                2.8                5.6                2.2000000000000002
135 6.3                2.8                5.0999999999999996 1.5
136 6.1                2.6                5.6                1.4
137 7.7                3                  6.1                2.2999999999999998
138 6.3                3.4                5.6                2.4
139 6.4                3.1                5.5                1.8
140 6                  3                  4.8                1.8
141 6.9                3.1                5.4                2.1
142 6.7                3.1                5.6                2.4
143 6.9                3.1                5.0999999999999996 2.2999999999999998
144 5.8                2.7                5.0999999999999996 1.9
145 6.8                3.2                5.9                2.2999999999999998
146 6.7                3.3                5.7                2.5
147 6.7                3                  5.2                2.2999999999999998
148 6.3                2.5                5                  1.9
149 6.5                3                  5.2                2
150 6.2                3.4                5.4                2.2999999999999998
151 5.9                3                  5.0999999999999996 1.8
    품종
1   Species
2   setosa
3   setosa
4   setosa
5   setosa
6   setosa
7   setosa
8   setosa
9   setosa
10  setosa
11  setosa
12  setosa
13  setosa
14  setosa
15  setosa
16  setosa
17  setosa
18  setosa
19  setosa
20  setosa
21  setosa
22  setosa
23  setosa
24  setosa
25  setosa
26  setosa
27  setosa
28  setosa
29  setosa
30  setosa
⋮   ⋮
122 virginica
123 virginica
124 virginica
125 virginica
126 virginica
127 virginica
128 virginica
129 virginica
130 virginica
131 virginica
132 virginica
133 virginica
134 virginica
135 virginica
136 virginica
137 virginica
138 virginica
139 virginica
140 virginica
141 virginica
142 virginica
143 virginica
144 virginica
145 virginica
146 virginica
147 virginica
148 virginica
149 virginica
150 virginica
151 virginica

- `range` : 특정 행만 불러오고 싶을 경우

In [21]:
col_names <- c("꽃밭침:길이", "꽃받침:너비", "꽃잎:길이", "꽃잎:너비", "품종")

ex <- read_excel(
    path = "data/data_ex.xlsx",
    sheet = 1,
    col_names = col_names,
    range = cell_rows(4:7)
    )

ex

  꽃밭침:길이 꽃받침:너비 꽃잎:길이 꽃잎:너비 품종
1 4.7         3.2         1.3       0.2       setosa
2 4.6         3.1         1.5       0.2       setosa
3 5.0         3.6         1.4       0.2       setosa
4 5.4         3.9         1.7       0.4       setosa

# 3. 자료 저장하기

## TXT

```
write.table(
    data,  # 저장할 자료
    file,  # 저장할 파일 경로 및 파일명
    append = FALSE, # 동일 파일명이 존재할 경우 기존 파일에 이어 붙일 것인지(TRUE), 기존 파일을 덮어쓰기할 것인지(FALSE)
    quote = TRUE,   # 컬럼명 및 문자형에 따옴표를 포함할 것인지 여부
    sep = " ",  # 구분자
    row.names = TRUE,   # 행 이름(번호) 포함 여부
    col.names = TRUE,   # 열 이름(번호) 포함 여부
    fileEncoding   # 파일 인코딩 방식 설정
    )
```

## CSV

```
write.csv(
    data,  # 저장할 자료
    file,  # 저장할 파일 경로 및 파일명
    append = FALSE, # 동일 파일명이 존재할 경우 기존 파일에 이어 붙일 것인지(TRUE), 기존 파일을 덮어쓰기할 것인지(FALSE)
    quote = TRUE,   # 컬럼명 및 문자형에 따옴표를 포함할 것인지 여부
    sep = ",",  # 구분자
    row.names = TRUE,   # 행 이름(번호) 포함 여부
    col.names = TRUE,   # 열 이름(번호) 포함 여부
    fileEncoding   # 파일 인코딩 방식 설정
    )
```

## EXCEL

```
writexl::write_xlsx(
    data,   # 저장할 자료
    path,   # 저장할 파일 경로 및 파일명
    col_names,   # 컬럼명 저장 여부
    format_headers  # 컬럼명을 가운데 정렬 및 굵게 표시할지 여부
    )
```

In [22]:
# 엑셀 파일을 읽어들이는 패키지 설치 및 불러오기
install.packages("writexl")
library(writexl)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)